html {
  min-width: 1150px;
}
body {
  font-size: 12px;
  font-family: "Microsoft yahei";
  color: #434343;
  background: transparent;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mycontainer {
  width: 1110px;
  margin: 0 auto;
  box-sizing: border-box;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
#erweima {
  width: 10%;
  min-width: 120px;
  position: fixed;
  right: 10px;
  bottom: 100px;
  text-align: center;
}
#erweima strong {
  color: #0091be;
}
#erweima img {
  width: 100%;
}
.page-ui-common header .navTop {
  height: 32px;
  background: #30b3db;
}
.page-ui-common header .navTop .navTopRight {
  float: right;
  line-height: 32px;
}
.page-ui-common header .navTop .navTopRight a {
  color: white;
  font-size: 12px;
  margin-left: 15px;
}
.page-ui-common header .navTop .navTopRight a:hover {
  color: red;
}
.page-ui-common header .logoArea {
  padding: 15px 0;
}
.page-ui-common header .logoArea .p-top {
  overflow: hidden;
}
.page-ui-common header .logoArea .p-top .search {
  margin-top: 12px;
}
.page-ui-common header .logoArea .p-top .search input {
  color: #999;
  outline: 0;
  width: 160px;
  font-size: 12px;
  border: 1px solid #bdbdbd;
  height: 30px;
  box-sizing: border-box;
}
.page-ui-common header .logoArea .p-top .search button {
  border: 0;
  height: 30px;
  width: 34px;
  margin-left: -4px;
  background: #009ccc;
  position: relative;
  top: 1px;
}
.page-ui-common header .logoArea .p-top .search button span {
  color: white;
}
.page-ui-common header .logoArea .p-top .search button:focus {
  background: #009ccc;
}
.page-ui-common header .logoArea .p-navbar ul {
  margin: 10px 0;
  overflow: hidden;
}
.page-ui-common header .logoArea .p-navbar ul li.item {
  float: left;
}
.page-ui-common header .logoArea .p-navbar ul li.item a {
  font-size: 16px;
  color: #434343;
  display: block;
  width: 215px;
  text-align: left;
}
.page-ui-common header .logoArea .p-navbar ul li.item:first-child a {
  width: 170px;
}
.page-ui-common header .logoArea .p-navbar ul li.item:last-child a {
  text-align: right;
  width: 80px;
}
.page-ui-common header .logoArea .p-navbar ul li.item.active a {
  color: #0091be;
}
.page-ui-common section .content-top {
  box-sizing: border-box;
  height: 392px;
  background: url(../images/index/banner.jpg) no-repeat;
  background-position: center center;
}
.page-ui-common section .content-top .mycontainer {
  position: relative;
}
.page-ui-common section .content-top .mycontainer .sanjiao1,
.page-ui-common section .content-top .mycontainer .sanjiao2 {
  position: absolute;
  top: -3px;
  width: 26px;
  left: 242px;
}
.page-ui-common section .content-top .mycontainer .sanjiao2 {
  top: 446px;
  width: 40px;
  left: 241px;
  transform: rotate(90deg);
}
.page-ui-common section > .mycontainer > h1 {
  text-align: center;
  font-size: 36.8px;
  color: #0091be;
  font-weight: 400;
  margin-top: 55px;
}
.page-ui-common section > .mycontainer > p {
  text-align: center;
  font-size: 22.4px;
  color: #434343;
  margin: 10px 0;
}
.page-ui-common footer .connect {
  height: 252px;
  box-sizing: border-box;
  margin: 0 auto;
  background: #30b3db;
  text-align: center;
  padding: 28.8px 0;
}
.page-ui-common footer .connect p {
  color: #fff;
  font-size: 19.2px;
  margin: 14px 0;
}
.page-ui-common footer .connect p a {
  color: #fff;
}
.page-ui-common footer .connect p a:hover {
  text-decoration: underline;
}
.page-ui-common footer > p {
  text-align: center;
  font-size: 14.4px;
  color: #666;
  margin: 4px 0;
}
.page-ui-index section .content-top .mycontainer {
  position: relative;
}
.page-ui-index section .content-top .mycontainer .sanjiao1,
.page-ui-index section .content-top .mycontainer .sanjiao2 {
  position: absolute;
  top: -3px;
  width: 26px;
  left: 193px;
}
.page-ui-index section .content-top .mycontainer .sanjiao2 {
  top: 360px;
  width: 35px;
  left: 192px;
  transform: rotate(90deg);
}
.page-ui-index section .content-list {
  width: 195px;
}
.page-ui-index section .content-list li.content-list-title {
  height: 56px;
  background: #0091bf!important;
  line-height: 56px;
  text-align: center;
}
.page-ui-index section .content-list li {
  color: white;
  font-size: 16px;
  background: #00bea1;
  height: 42px;
  line-height: 42px;
}
.page-ui-index section .content-list li a {
  box-sizing: border-box;
  display: block;
  padding-left: 42px;
  color: white;
  height: 41px;
  line-height: 42px;
  border-bottom: 1px solid #fff;
}
.page-ui-index section .content-list li a img {
  position: relative;
  top: 4px;
  float: left;
}
.page-ui-index section .content-list li:hover {
  background: #14cdb7;
}
.page-ui-index section .content-list li:last-child a {
  border-bottom: none;
}
.page-ui-index section > .mycontainer > h1 {
  text-align: center;
  font-size: 36.8px;
  color: #0091be;
  font-weight: 400;
  margin-top: 55px;
}
.page-ui-index section > .mycontainer > p {
  text-align: center;
  font-size: 22.4px;
  color: #434343;
  margin: 10px 0;
}
.page-ui-index section #virtuals1,
.page-ui-index section #virtuals2 {
  display: flex;
  margin: 55px 0;
}
.page-ui-index section #virtuals1 li,
.page-ui-index section #virtuals2 li {
  flex: 1;
  text-align: center;
  font-size: 17.6px;
  color: #434343;
  height: 140px;
}
.page-ui-index section #virtuals1 li img,
.page-ui-index section #virtuals2 li img {
  width: 72px;
}
.page-ui-index section .content-phone {
  background: #f1f1f1;
  height: 464px;
  box-sizing: border-box;
}
.page-ui-index section .content-phone .mycontainer {
  height: 464px;
  position: relative;
  background-image: url(../images/index/hands.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.page-ui-index section .content-phone .mycontainer > h2 {
  font-size: 36.8px;
  color: #0091be;
  font-weight: 400;
  margin: 0;
  padding-top: 64px;
  padding-bottom: 24px;
  width: 730px;
}
.page-ui-index section .content-phone .mycontainer .paragraph {
  width: 730px;
}
.page-ui-index section .content-phone .mycontainer .paragraph p {
  text-align: center;
  color: #434343;
  font-size: 17.6px;
  line-height: 2em;
  margin: 0;
}
.page-ui-index section .content-phone .mycontainer .paragraph h3 {
  color: #333;
  text-align: center;
  font-size: 22.4px;
}
.page-ui-index section .content-phone .mycontainer .paragraph h3 strong {
  color: #0091be;
}
.page-ui-index section .content-zhenshu {
  background: #f1f1f1;
  height: 535px;
  box-sizing: border-box;
  padding: 80px 0;
}
.page-ui-index section .content-zhenshu .h2 {
  font-size: 36.8px;
  color: #0091be;
  font-weight: 400;
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
}
.page-ui-index section .content-zhenshu .centent-section {
  margin-left: 500px;
  text-align: center;
}
.page-ui-index section .content-zhenshu .centent-section p {
  font-size: 17.6px;
  color: #434343;
}
.page-ui-index section .content-zhenshu .centent-section > .h2:nth-child(2) {
  margin-bottom: 32px;
}
.page-ui-index section .mycontainer > h2 {
  font-size: 36.8px;
  color: #0091be;
  font-weight: 400;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.page-ui-index section .mycontainer .jianyanfuwu ul li {
  margin-bottom: 20px;
  padding-top: 10px;
  float: left;
  box-sizing: border-box;
  width: 535px;
  height: 160px;
  background: #f1f1f1;
}
.page-ui-index section .mycontainer .jianyanfuwu ul li a {
  overflow: hidden;
  display: block;
  padding: 0 40px;
}
.page-ui-index section .mycontainer .jianyanfuwu ul li a .lf {
  width: 292px;
  height: 150px;
}
.page-ui-index section .mycontainer .jianyanfuwu ul li a .lf p {
  line-height: 1.5em;
  margin: 0;
}
.page-ui-index section .mycontainer .jianyanfuwu ul li a .lf .title {
  font-size: 25.6px;
  color: #333;
  margin: 10px 0;
}
.page-ui-index section .mycontainer .jianyanfuwu ul li a p {
  font-size: 17.6px;
  color: #666;
}
.page-ui-index section .mycontainer .jianyanfuwu ul li a img {
  position: relative;
  top: 12px;
}
.page-ui-index section .mycontainer .jianyanfuwu ul li:nth-child(2n) {
  float: right;
}
.page-ui-index section .mycontainer .jianyanfuwu ul li:first-child {
  background: #2fb3da;
}
.page-ui-index section .mycontainer .jianyanfuwu ul li:first-child a .lf p {
  color: white;
}
.page-ui-index section .mycontainer .jianyanfuwu .advertise img {
  width: 100%;
}
.page-ui-index section .mycontainer .jianyanfuwu #morePro {
  margin: 50px auto 100px;
  padding: 18px 0;
  text-align: center;
  background: #00bea2;
  width: 246px;
  display: block;
  border-radius: 3px;
  color: #fff;
  font-size: 24px;
}
.page-ui-index section > .about {
  box-sizing: border-box;
  margin-bottom: 0;
  overflow: hidden;
}
.page-ui-index section > .about h2 {
  font-size: 36.8px;
  color: #0091be;
  font-weight: 400;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.page-ui-index section > .about > img {
  width: 32%;
  padding-left: 1%;
  float: left;
}
.page-ui-index section > .about .mycontainer {
  overflow: hidden;
}
.page-ui-index section > .about .mycontainer p {
  font-size: 24px;
  color: #333;
  margin: 50px 0 30px 0;
  line-height: 2em;
  text-indent: 2em;
}
.page-ui-index section .module {
  margin: 60px auto;
}
.page-ui-index section .module .p-title {
  height: 44px;
  box-sizing: border-box;
  border-bottom: 1px solid #2fb3da;
}
.page-ui-index section .module .p-title > div {
  width: 196px;
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-size: 25.6px;
  box-sizing: border-box;
  background-color: #30b3db;
  border-top-left-radius: 20px;
  position: relative;
  margin: 10px 0;
}
.page-ui-index section .module .p-title > div > img {
  position: absolute;
  right: -13.6px;
  top: -14.4px;
}
.page-ui-index section .module p {
  text-align: left;
  text-indent: 2em;
  line-height: 2em;
  font-size: 20px;
  color: #28292a;
  margin: 20px 0;
}
.page-ui-join section .content-top {
  background-image: url(../images/join/banner.jpg);
}
.page-ui-join section > .mycontainer.job .job-title {
  text-align: center;
  padding: 20px 0;
}
.page-ui-join section > .mycontainer.job .job-content {
  margin-bottom: 50px;
}
.page-ui-join section > .mycontainer.job .job-content h3 {
  font-size: 28px;
}
.page-ui-join section > .mycontainer.job .job-content p {
  font-size: 20px;
}
/*
    *login.html
    */
.page-ui-common.page-ui-login {
  min-width: initial;
  background: #97d9ed;
  background-image: url(../images/login/bottom.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  min-height: 100%;
  min-width: 350px;
  height: 800px;
}
.page-ui-common.page-ui-login .loginBox {
  width: 468px;
  max-width: 90%;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1000;
}
.page-ui-common.page-ui-login .loginBox .loginBox-top {
  padding: 0 15px;
  background: #30b3db;
}
.page-ui-common.page-ui-login .loginBox .loginBox-top .row .col-xs-4 {
  height: 150px;
  line-height: 150px;
  text-align: right;
}
.page-ui-common.page-ui-login .loginBox .loginBox-top .row .col-xs-8 {
  height: 150px;
  padding: 25px 0;
}
.page-ui-common.page-ui-login .loginBox .loginBox-top .c-title {
  font-size: 36px;
  color: #fff;
  text-align: left;
}
.page-ui-common.page-ui-login .loginBox .loginBox-top .e-title {
  font-size: 22px;
  text-align: left;
  color: #fff;
}
.page-ui-common.page-ui-login .loginBox > div:last-child {
  padding: 10%;
}
.page-ui-common.page-ui-login .loginBox > div:last-child form .form-group input {
  padding-left: 34px;
  font-size: 18px;
}
.page-ui-common.page-ui-login .loginBox > div:last-child form .form-group > span {
  left: 0;
  color: #cccccc;
}
.page-ui-common.page-ui-login .loginBox > div:last-child form .form-group.code {
  line-height: 34px;
  color: #cccccc;
}
.page-ui-common.page-ui-login .loginBox > div:last-child form .form-group.code a {
  color: #30b3db;
}
.page-ui-common.page-ui-login .loginBox > div:last-child form #loginBtn {
  background: #2fb3da;
  border: 0;
}
.page-ui-common.page-ui-login .loginBox > div:last-child form #kaptchaImage {
  width: 80px;
  height: 32px;
}
.page-ui-common.page-ui-login body {
  position: relative;
  padding-top: 100px;
  overflow: hidden;
}
.page-ui-common.page-ui-login body > .circle {
  background: url(../images/login/circluar.png) no-repeat;
  background-size: 100% 100%;
  width: 90px;
  height: 90px;
  position: absolute;
}
.page-ui-common.page-ui-login body .circle.circle-lg {
  width: 120px;
  height: 120px;
}
.page-ui-common.page-ui-login body .circle.circle-sm {
  width: 65px;
  height: 65px;
}
.page-ui-common.page-ui-login body #circle1 {
  left: 50px;
  top: 280px;
}
.page-ui-common.page-ui-login body #circle2 {
  left: 100px;
  top: 495px;
}
.page-ui-common.page-ui-login body #circle3 {
  left: 394px;
  top: 690px;
}
.page-ui-common.page-ui-login body #circle4 {
  right: 350px;
  top: 680px;
}
.page-ui-common.page-ui-login body #circle5 {
  right: 150px;
  top: 280px;
}
.page-ui-common.page-ui-login body #circle6 {
  right: 250px;
  top: 480px;
}
@media (max-width: 400px) {
  .page-ui-common.page-ui-login .loginBox .loginBox-top div.c-title,
  .page-ui-common.page-ui-login .loginBox .loginBox-top div.e-title {
    font-size: 1.5rem;
    height: 50px;
  }
}
