body {
  font-size: 12px;
  font-family: "Microsoft yahei";
  color: #434343;
  background: transparent;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #fff;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
#jianyan > h2 {
  font-size: 36.8px;
  color: #0091be;
  font-weight: 400;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
#jianyan > .row > div {
  margin-bottom: 20px;
}
#jianyan .index-news-list {
  background-color: #f1f1f1;
  height: 148px;
  padding: 20px 40px;
}
#jianyan .index-news-list div {
  height: 88px;
  padding-right: 88px;
  background-image: url(../../images/index/xinlv.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}
#jianyan .index-news-list .title {
  font-size: 25.6px;
  color: #333;
  margin: 10px 0;
}
#jianyan .index-news-list .cont {
  font-size: 17.6px;
  color: #666;
}
#jianyan .advertise {
  margin-bottom: 20px;
}
#jianyan .index-news-list.jiyin div {
  background-image: url(../../images/index/jiyin.png);
}
#jianyan .index-news-list.tingzhenqi div {
  background-image: url(../../images/index/tingzhenqi.png);
}
#jianyan .index-news-list.bingdu div {
  background-image: url(../../images/index/bingdu.png);
}
#jianyan .index-news-list:hover div {
  background-image: url(../../images/index/xinlv2.png);
}
#jianyan .index-news-list.jiyin:hover div {
  background-image: url(../../images/index/jiyin2.png);
}
#jianyan .index-news-list.tingzhenqi:hover div {
  background-image: url(../../images/index/tingzhenqi2.png);
}
#jianyan .index-news-list.bingdu:hover div {
  background-image: url(../../images/index/bingdu2.png);
}
#jianyan .index-news-list:hover {
  background-color: #2fb3da;
}
#jianyan .index-news-list:hover .title,
#jianyan .index-news-list:hover .cont {
  color: #fff;
}
.content-zhenshu .h2 {
  font-size: 36.8px;
  color: #0091be;
  font-weight: 400;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
.content-zhenshu p {
  font-size: 17.6px;
  color: #434343;
  text-align: center;
  line-height: 2em;
}
.img-responsive {
  margin: 0 auto;
}
#about > h2 {
  font-size: 36.8px;
  color: #0091be;
  font-weight: 400;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
#about img {
  margin-bottom: 1em;
}
#about .content {
  text-align: left;
  text-indent: 2em;
  line-height: 2em;
  font-size: 20px;
  color: #28292a;
  margin: 20px 0;
}
#morePro {
  margin: 50px auto 50px;
  padding: 18px 0;
  text-align: center;
  background: #00bea2;
  width: 246px;
  display: block;
  border-radius: 3px;
  color: #fff;
  font-size: 24px;
}
#morePro:hover,
#morePro:active {
  opacity: 0.9;
}
#module {
  margin: 60px auto;
}
#module .p-title {
  height: 44px;
  box-sizing: border-box;
  border-bottom: 1px solid #2fb3da;
}
#module .p-title > div {
  width: 196px;
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-size: 25.6px;
  box-sizing: border-box;
  background-color: #30b3db;
  border-top-left-radius: 20px;
  position: relative;
  margin: 10px 0;
  padding-left: 20px;
}
#module .p-title > div > img {
  position: absolute;
  right: -13.6px;
  top: -14.4px;
}
#module p {
  text-align: left;
  text-indent: 2em;
  line-height: 2em;
  font-size: 20px;
  color: #28292a;
  margin: 20px 0;
}
@media screen and (max-width: 768px) {
  .page-ui-index section .content-top {
    display: none;
  }
  .page-ui-index section .content-top-phone {
    display: block!important;
  }
  .page-ui-index section .content-top-phone .title {
    background: #0091bf;
    text-align: center;
    font-size: 22px;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 0;
  }
  .page-ui-index section .content-top-phone .items {
    padding: 15px;
  }
  .page-ui-index section .content-top-phone .items .item {
    color: white;
    font-size: 16px;
    background: #00bea1;
    height: 42px;
    line-height: 42px;
    margin-bottom: 10px;
    border-radius: 3px;
  }
  .page-ui-index section .content-top-phone .items .item a {
    box-sizing: border-box;
    display: block;
    color: white;
    height: 41px;
    line-height: 42px;
  }
  .page-ui-index section .content-top-phone .items .item a:hover {
    text-decoration: none;
  }
  .page-ui-index section .content-top-phone .items .item:hover {
    background: #14cdb7;
  }
  .page-ui-index section > .container > h1 {
    text-align: center;
    font-size: 36.8px;
    color: #0091be;
    font-weight: 400;
    margin-top: 55px;
  }
  .page-ui-index section > .container > p {
    text-align: center;
    font-size: 22.4px;
    color: #434343;
    margin: 10px 0;
  }
  .page-ui-index section #virtuals1 {
    padding: 80px 0;
  }
  .page-ui-index section #virtuals1 > li > div {
    text-align: center;
    height: 170px;
    line-height: 2.5em;
    font-size: 16px;
  }
  .page-ui-index section #virtuals1 > li > div > img {
    width: 72px;
  }
  .page-ui-index section .content-phone {
    background: #f1f1f1;
    box-sizing: border-box;
  }
  .page-ui-index section .content-phone .container {
    position: relative;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 16px;
  }
  .page-ui-index section .content-phone .container .col-xs-9.teshu {
    width: 100%;
  }
  .page-ui-index section .content-phone .container h2 {
    font-size: 1rem;
    color: #0091be;
    font-weight: 400;
    margin: 0;
    padding-top: 1.95121951rem;
    padding-bottom: 0.73170732rem;
  }
  .page-ui-index section .content-phone .container .paragraph p {
    text-align: center;
    color: #434343;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
  }
  .page-ui-index section .content-phone .container .paragraph h3 {
    color: #333;
    text-align: center;
    margin: 0.5rem 0;
    font-size: 0.68292683rem;
  }
  .page-ui-index section .content-phone .container .paragraph h3 strong {
    color: #0091be;
  }
  .page-ui-index section #jianyan .index-news-list {
    padding: 20px 40px;
  }
  .page-ui-index section #jianyan .index-news-list .title {
    font-size: 25.6px;
  }
  .page-ui-index section #jianyan .index-news-list .cont {
    font-size: 15px;
  }
  .page-ui-index section .content-zhenshu .h2 {
    font-size: 22px;
    color: #0091be;
    font-weight: 400;
    margin: 0;
    padding: 20px 0;
    text-align: center;
  }
  .page-ui-index section .content-zhenshu p {
    font-size: 14.6px;
    color: #434343;
    text-align: center;
  }
  #module {
    margin: 0px auto;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .page-ui-index section .content-top .container {
    position: relative;
  }
  .page-ui-index section .content-top .container .sanjiao1,
  .page-ui-index section .content-top .container .sanjiao2 {
    position: absolute;
    top: -3px;
    width: 35px;
    left: 208px;
  }
  .page-ui-index section .content-top .container .sanjiao2 {
    top: 360px;
    width: 35px;
    left: 208px;
    transform: rotate(90deg);
  }
  .page-ui-index section .content-top .container .topdes {
    margin: 140px 0 0 60px;
  }
  .page-ui-index section .content-top .container .topdes p {
    font-size: 30px;
    font-family: "Times New Roman";
    color: #fff;
  }
  .page-ui-index section .content-top .container .content-list {
    width: 195px;
  }
  .page-ui-index section .content-top .container .content-list li.content-list-title {
    height: 56px;
    background: #0091bf!important;
    line-height: 56px;
    text-align: center;
  }
  .page-ui-index section .content-top .container .content-list li {
    color: white;
    font-size: 16px;
    background: #00bea1;
    height: 42px;
    line-height: 42px;
  }
  .page-ui-index section .content-top .container .content-list li a {
    box-sizing: border-box;
    display: block;
    padding-left: 42px;
    color: white;
    height: 41px;
    line-height: 42px;
    border-bottom: 1px solid #fff;
  }
  .page-ui-index section .content-top .container .content-list li a img {
    position: relative;
    top: 4px;
    float: left;
  }
  .page-ui-index section .content-top .container .content-list li:hover {
    background: #14cdb7;
  }
  .page-ui-index section .content-top .container .content-list li:last-child a {
    border-bottom: none;
  }
  .page-ui-index section .content-top-phone {
    display: none;
  }
  .page-ui-index section > .container > h1 {
    text-align: center;
    font-size: 36.8px;
    color: #0091be;
    font-weight: 400;
    margin-top: 55px;
  }
  .page-ui-index section > .container > p {
    text-align: center;
    font-size: 22.4px;
    color: #434343;
    margin: 10px 0;
  }
  .page-ui-index section #virtuals1 {
    padding: 80px 0;
  }
  .page-ui-index section #virtuals1 > li > div {
    text-align: center;
    height: 170px;
    line-height: 2.5em;
    font-size: 16px;
  }
  .page-ui-index section #virtuals1 > li > div > img {
    width: 72px;
  }
  .page-ui-index section .content-phone {
    background: #f1f1f1;
    height: 464px;
    box-sizing: border-box;
  }
  .page-ui-index section .content-phone .container {
    height: 464px;
    position: relative;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  .page-ui-index section .content-phone .container > .row .col-xs-9.teshu {
    padding: 0px 50px;
    width: 100%;
  }
  .page-ui-index section .content-phone .container h2 {
    font-size: 30px;
    color: #0091be;
    font-weight: 400;
    margin: 0;
    padding-top: 64px;
    padding-bottom: 24px;
  }
  .page-ui-index section .content-phone .container .paragraph p {
    text-align: center;
    color: #434343;
    font-size: 17.6px;
    line-height: 2em;
    margin: 0;
  }
  .page-ui-index section .content-phone .container .paragraph h3 {
    color: #333;
    text-align: center;
    font-size: 18px;
  }
  .page-ui-index section .content-phone .container .paragraph h3 strong {
    color: #0091be;
  }
  .page-ui-index section #jianyan .index-news-list {
    padding: 20px 40px;
  }
  .page-ui-index section #jianyan .index-news-list .title {
    font-size: 25.6px;
  }
  .page-ui-index section #jianyan .index-news-list .cont {
    font-size: 15px;
  }
  .page-ui-index section .content-zhenshu .h2 {
    font-size: 26.8px;
    color: #0091be;
    font-weight: 400;
    margin: 0;
    padding: 20px 0;
    text-align: center;
  }
  .page-ui-index section .content-zhenshu p {
    font-size: 14.6px;
    color: #434343;
    text-align: center;
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .page-ui-index section .content-top .container {
    position: relative;
  }
  .page-ui-index section .content-top .container .sanjiao1,
  .page-ui-index section .content-top .container .sanjiao2 {
    position: absolute;
    top: -3px;
    width: 35px;
    left: 208px;
  }
  .page-ui-index section .content-top .container .sanjiao2 {
    top: 360px;
    width: 35px;
    left: 208px;
    transform: rotate(90deg);
  }
  .page-ui-index section .content-top .container .topdes {
    margin: 140px 0 0 60px;
  }
  .page-ui-index section .content-top .container .topdes p {
    font-size: 30px;
    font-family: "Times New Roman";
    color: #fff;
  }
  .page-ui-index section .content-top .container .content-list {
    width: 195px;
  }
  .page-ui-index section .content-top .container .content-list li.content-list-title {
    height: 56px;
    background: #0091bf!important;
    line-height: 56px;
    text-align: center;
  }
  .page-ui-index section .content-top .container .content-list li {
    color: white;
    font-size: 16px;
    background: #00bea1;
    height: 42px;
    line-height: 42px;
  }
  .page-ui-index section .content-top .container .content-list li a {
    box-sizing: border-box;
    display: block;
    padding-left: 42px;
    color: white;
    height: 41px;
    line-height: 42px;
    border-bottom: 1px solid #fff;
  }
  .page-ui-index section .content-top .container .content-list li a img {
    position: relative;
    top: 4px;
    float: left;
  }
  .page-ui-index section .content-top .container .content-list li:hover {
    background: #14cdb7;
  }
  .page-ui-index section .content-top .container .content-list li:last-child a {
    border-bottom: none;
  }
  .page-ui-index section .content-top-phone {
    display: none;
  }
  .page-ui-index section > .container > h1 {
    text-align: center;
    font-size: 36.8px;
    color: #0091be;
    font-weight: 400;
    margin-top: 55px;
  }
  .page-ui-index section > .container > p {
    text-align: center;
    font-size: 22.4px;
    color: #434343;
    margin: 10px 0;
  }
  .page-ui-index section #virtuals1 {
    padding: 80px 0;
  }
  .page-ui-index section #virtuals1 > li > div {
    text-align: center;
    height: 170px;
    line-height: 2.5em;
    font-size: 16px;
  }
  .page-ui-index section #virtuals1 > li > div > img {
    width: 72px;
  }
  .page-ui-index section .content-phone {
    background: #f1f1f1;
    height: 464px;
    box-sizing: border-box;
  }
  .page-ui-index section .content-phone .container {
    height: 464px;
    position: relative;
    background-image: url(../../images/index/hands.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  .page-ui-index section .content-phone .container h2 {
    font-size: 36.8px;
    color: #0091be;
    font-weight: 400;
    margin: 0;
    padding-top: 64px;
    padding-bottom: 24px;
  }
  .page-ui-index section .content-phone .container .paragraph p {
    text-align: center;
    color: #434343;
    font-size: 17.6px;
    line-height: 2em;
    margin: 0;
  }
  .page-ui-index section .content-phone .container .paragraph h3 {
    color: #333;
    text-align: center;
    font-size: 22.4px;
  }
  .page-ui-index section .content-phone .container .paragraph h3 strong {
    color: #0091be;
  }
}
@media screen and (min-width: 1200px) {
  .page-ui-index section .content-top .container {
    position: relative;
  }
  .page-ui-index section .content-top .container .sanjiao1,
  .page-ui-index section .content-top .container .sanjiao2 {
    position: absolute;
    top: -3px;
    width: 35px;
    left: 208px;
  }
  .page-ui-index section .content-top .container .sanjiao2 {
    top: 360px;
    width: 35px;
    left: 208px;
    transform: rotate(90deg);
  }
  .page-ui-index section .content-top .container .topdes {
    margin: 140px 0 0 60px;
  }
  .page-ui-index section .content-top .container .topdes p {
    font-size: 30px;
    font-family: "Times New Roman";
    color: #fff;
  }
  .page-ui-index section .content-top .container .content-list {
    width: 195px;
  }
  .page-ui-index section .content-top .container .content-list li.content-list-title {
    height: 56px;
    background: #0091bf!important;
    line-height: 56px;
    text-align: center;
  }
  .page-ui-index section .content-top .container .content-list li {
    color: white;
    font-size: 16px;
    background: #00bea1;
    height: 42px;
    line-height: 42px;
  }
  .page-ui-index section .content-top .container .content-list li a {
    box-sizing: border-box;
    display: block;
    padding-left: 42px;
    color: white;
    height: 41px;
    line-height: 42px;
    border-bottom: 1px solid #fff;
  }
  .page-ui-index section .content-top .container .content-list li a img {
    position: relative;
    top: 4px;
    float: left;
  }
  .page-ui-index section .content-top .container .content-list li:hover {
    background: #14cdb7;
  }
  .page-ui-index section .content-top .container .content-list li:last-child a {
    border-bottom: none;
  }
  .page-ui-index section .content-top-phone {
    display: none;
  }
  .page-ui-index section > .container > h1 {
    text-align: center;
    font-size: 36.8px;
    color: #0091be;
    font-weight: 400;
    margin-top: 55px;
  }
  .page-ui-index section > .container > p {
    text-align: center;
    font-size: 22.4px;
    color: #434343;
    margin: 10px 0;
  }
  .page-ui-index section #virtuals1 {
    padding: 80px 0;
  }
  .page-ui-index section #virtuals1 > li > div {
    text-align: center;
    height: 170px;
    line-height: 2.5em;
    font-size: 16px;
  }
  .page-ui-index section #virtuals1 > li > div > img {
    width: 72px;
  }
  .page-ui-index section .content-phone {
    background: #f1f1f1;
    height: 464px;
    box-sizing: border-box;
  }
  .page-ui-index section .content-phone .container {
    height: 464px;
    position: relative;
    background-image: url(../../images/index/hands.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  .page-ui-index section .content-phone .container h2 {
    font-size: 36.8px;
    color: #0091be;
    font-weight: 400;
    margin: 0;
    padding-top: 64px;
    padding-bottom: 24px;
  }
  .page-ui-index section .content-phone .container .paragraph p {
    text-align: center;
    color: #434343;
    font-size: 17.6px;
    line-height: 2em;
    margin: 0;
  }
  .page-ui-index section .content-phone .container .paragraph h3 {
    color: #333;
    text-align: center;
    font-size: 22.4px;
  }
  .page-ui-index section .content-phone .container .paragraph h3 strong {
    color: #0091be;
  }
}
