body {
    font-size: 12px;
    font-family: "Microsoft yahei";
    color: #434343;
    background: transparent;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lf {
    float: left;
}

.rt {
    float: right;
}


.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #fff;
}
a:hover,a:active,a:focus{
    text-decoration: none;
}
#jianyan {
    >h2 {
        font-size: 46px*0.8;
        color: #0091be;
        font-weight: 400;
        margin: 0;
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
    }
    >.row {
        >div {
            margin-bottom: 20px;
        }
    }
    .index-news-list {
        background-color: #f1f1f1;
        height: 148px;
        div {
            height: 88px;
            padding-right: 88px;
            background-image: url(../../images/index/xinlv.png);
            background-repeat: no-repeat;
            background-position: right center;
            background-size: contain;
        }
        
        padding:20px 40px;
        .title {
            font-size: 25.6px;
            color: #333;
            margin: 10px 0;
        }
        .cont {
            font-size: 17.6px;
            color: #666;
        }
    }
    .advertise {
        margin-bottom: 20px;
    }
    
    .index-news-list.jiyin {
        div {
            background-image: url(../../images/index/jiyin.png);
        }
    }
    .index-news-list.tingzhenqi {
        div {
            background-image: url(../../images/index/tingzhenqi.png);
        }
    }
    .index-news-list.bingdu {
        div {
            background-image: url(../../images/index/bingdu.png);
        }
    }
    .index-news-list:hover{
        div {
        background-image: url(../../images/index/xinlv2.png);
        }
    }
    .index-news-list.jiyin:hover {
        div {
            background-image: url(../../images/index/jiyin2.png);
        }
    }
    .index-news-list.tingzhenqi:hover {
        div {
            background-image: url(../../images/index/tingzhenqi2.png);
        }
    }
    .index-news-list.bingdu:hover {
        div {
            background-image: url(../../images/index/bingdu2.png);
        }
    }
    .index-news-list:hover {
        background-color: #2fb3da;
        .title,
        .cont {
            color: #fff;
        }
    } // .img-responsive{
    //     margin:10px 0;
    // }
}

.content-zhenshu {
    .h2 {
        font-size: 36.8px;
        color: #0091be;
        font-weight: 400;
        margin: 0;
        padding: 20px 0;
        text-align: center;
    }
    p {
        font-size: 17.6px;
        color: #434343;
        text-align: center;
        line-height:2em;
    }
}
.img-responsive{
    margin:0 auto;
}
#about{
   >h2{
    font-size: 36.8px;
    color: #0091be;
    font-weight: 400;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
   }
   img{
       margin-bottom:1em; 
   }
   .content{
    text-align: left;
    text-indent: 2em;
    line-height: 2em;
    font-size: 20px;
    color: #28292a;
    margin: 20px 0;
   }
}
#morePro {
    margin: 50px auto 50px;
    padding: 18px 0;
    text-align: center;
    background: #00bea2;
    width: 246px;
    display: block;
    border-radius: 3px;
    color: #fff;
    font-size: 24px;
}
#morePro:hover,#morePro:active{
    opacity: 0.9;
}
#module {
    margin: 60px auto;
    .p-title {
        height: 55px*0.8;
        box-sizing: border-box;
        border-bottom: 1px solid rgb(47, 179, 218);
        >div {
            width: 196px;
            height: 55px*0.8;
            line-height: 55px*0.8;
            color: #fff;
            font-size: 32px*0.8;
            box-sizing: border-box;
            background-color: #30b3db;
            border-top-left-radius: 20px;
            position: relative;
            margin: 10px 0;
            padding-left: 20px;
            >img {
                position: absolute;
                right: -17px*0.8;
                top: -18px*0.8;
            }
        }
    }
    p {
        text-align: left;
        text-indent: 2em;
        line-height: 2em;
        font-size: 25px*0.8;
        color: #28292a;
        margin: 20px 0;
    }
}
@media screen and (max-width:768px) {
    .page-ui-index {
        section {
            .content-top {
                display: none;
            }
            .content-top-phone {
                display: block!important;
                .title {
                    background: #0091bf;
                    text-align: center;
                    font-size: 22px;
                    color: #fff;
                    padding: 15px 0;
                    margin-bottom: 0;
                }
                .items {
                    padding: 15px;
                    .item {
                        color: white;
                        font-size: 16px;
                        background: #00bea1;
                        height: 42px;
                        line-height: 42px;
                        margin-bottom: 10px;
                        border-radius: 3px;
                        a {
                            box-sizing: border-box;
                            display: block;
                            color: white;
                            height: 41px;
                            line-height: 42px;
                        }
                        a:hover {
                            text-decoration: none;
                        }
                    }
                    .item:hover {
                        background: #14cdb7;
                    }
                }
            }
            >.container {
                >h1 {
                    text-align: center;
                    font-size: 46px*0.8;
                    color: #0091be;
                    font-weight: 400; // margin: 10px 0;
                    margin-top: 55px;
                }
                >p {
                    text-align: center;
                    font-size: 28px*0.8;
                    color: #434343;
                    margin: 10px 0;
                }
            }
            #virtuals1 {
                padding: 80px 0;
                >li {
                    >div {
                        text-align: center;
                        height: 170px;
                        line-height: 2.5em;
                        font-size: 16px;
                        >img {
                            width: 72px;
                        }
                    }
                }
            }
            .content-phone {
                background: #f1f1f1;
                box-sizing: border-box;
                .container {
                    position: relative;
                    background-image: url(../../images/index/hands.png);
                    background-repeat: no-repeat;
                    background-position: right bottom;
                    background-size: 320rem/32.8*0.8 416rem/32.8*0.8;
                    h2 {
                        font-size: 1rem;
                        color: #0091be;
                        font-weight: 400;
                        margin: 0;
                        padding-top: 80rem*0.8/32.8;
                        padding-bottom: 30rem/32.8*0.8;
                    }
                    .paragraph {
                        p {
                            text-align: center;
                            color: #434343;
                            font-size: 22rem/32.8*0.8;
                            line-height: 1.4rem;
                            margin: 0;
                        }
                        h3 {
                            color: #333;
                            text-align: center;
                            margin:0.5rem 0;
                            font-size: 28rem/32.8*0.8;
                            strong {
                                color: #0091be;
                            }
                        }
                    }
                }
            }
            #jianyan {
                .index-news-list {
                    padding: 20px 40px;
                    .title {
                        font-size: 25.6px;
                    }
                    .cont {
                        font-size: 15px;
                    }
                } // .index-news-list{
            }
            .content-zhenshu {
                .h2 {
                    font-size: 22px;
                    color: #0091be;
                    font-weight: 400;
                    margin: 0;
                    padding: 20px 0;
                    text-align: center;
                }
                p {
                    font-size: 14.6px;
                    color: #434343;
                    text-align: center;
                }
            }
        }
    }
    #module {
        margin: 0px auto;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .page-ui-index {
        section {
            .content-top {
                .container {
                    position: relative;
                    .sanjiao1,
                    .sanjiao2 {
                        position: absolute;
                        top: -3px;
                        width: 35px;
                        left: 208px;
                    }
                    .sanjiao2 {
                        top: 360px;
                        width: 35px;
                        left: 208px;
                        transform: rotate(90deg);
                    }
                    .topdes {
                        margin: 140px 0 0 60px;
                        p {
                            font-size: 30px;
                            font-family: "Times New Roman";
                            color: #fff;
                        }
                    }
                    .content-list {
                        width: 195px;
                        li.content-list-title {
                            height: 56px;
                            background: #0091bf!important;
                            line-height: 56px;
                            text-align: center;
                        }
                        li {
                            color: white;
                            font-size: 16px;
                            background: #00bea1;
                            height: 42px;
                            line-height: 42px;
                            a {
                                box-sizing: border-box;
                                display: block;
                                padding-left: 42px;
                                color: white;
                                height: 41px;
                                line-height: 42px;
                                border-bottom: 1px solid #fff;
                                img {
                                    position: relative;
                                    top: 4px;
                                    float: left;
                                }
                            }
                        }
                        li:hover {
                            background: #14cdb7;
                        }
                        li:last-child {
                            a {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
            .content-top-phone {
                display: none;
            }
            >.container {
                >h1 {
                    text-align: center;
                    font-size: 46px*0.8;
                    color: #0091be;
                    font-weight: 400; // margin: 10px 0;
                    margin-top: 55px;
                }
                >p {
                    text-align: center;
                    font-size: 28px*0.8;
                    color: #434343;
                    margin: 10px 0;
                }
            }
            #virtuals1 {
                padding: 80px 0;
                >li {
                    >div {
                        text-align: center;
                        height: 170px;
                        line-height: 2.5em;
                        font-size: 16px;
                        >img {
                            width: 72px;
                        }
                    }
                }
            }
            .content-phone {
                background: #f1f1f1;
                height: 580px*0.8;
                box-sizing: border-box;
                .container {
                    >.row{
                        .col-xs-8{
                            padding: 0px 50px;
                        }
                    }
                    height: 580px*0.8;
                    position: relative;
                    background-image: url(../../images/index/hands.png);
                    background-repeat: no-repeat;
                    background-position: right bottom;
                    h2 {
                        font-size: 30px;
                        color: #0091be;
                        font-weight: 400;
                        margin: 0;
                        padding-top: 80px*0.8;
                        padding-bottom: 30px*0.8;
                    }
                    .paragraph {
                        p {
                            text-align: center;
                            color: #434343;
                            font-size: 22px*0.8;
                            line-height: 2.5em*0.8;
                            margin: 0;
                        }
                        h3 {
                            color: #333;
                            text-align: center;
                            font-size: 18px;
                            strong {
                                color: #0091be;
                            }
                        }
                    }
                }
            }
            #jianyan {
                .index-news-list {
                    padding: 20px 40px;
                    .title {
                        font-size: 25.6px;
                    }
                    .cont {
                        font-size: 15px;
                    }
                } // .index-news-list{
            }
            
.content-zhenshu {
    .h2 {
        font-size: 26.8px;
        color: #0091be;
        font-weight: 400;
        margin: 0;
        padding: 20px 0;
        text-align: center;
    }
    p {
        font-size: 14.6px;
        color: #434343;
        text-align: center;
    }
}
        }
    }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .page-ui-index {
        section {
            .content-top {
                .container {
                    position: relative;
                    .sanjiao1,
                    .sanjiao2 {
                        position: absolute;
                        top: -3px;
                        width: 35px;
                        left: 208px;
                    }
                    .sanjiao2 {
                        top: 360px;
                        width: 35px;
                        left: 208px;
                        transform: rotate(90deg);
                    }
                    .topdes {
                        margin: 140px 0 0 60px;
                        p {
                            font-size: 30px;
                            font-family: "Times New Roman";
                            color: #fff;
                        }
                    }
                    .content-list {
                        width: 195px;
                        li.content-list-title {
                            height: 56px;
                            background: #0091bf!important;
                            line-height: 56px;
                            text-align: center;
                        }
                        li {
                            color: white;
                            font-size: 16px;
                            background: #00bea1;
                            height: 42px;
                            line-height: 42px;
                            a {
                                box-sizing: border-box;
                                display: block;
                                padding-left: 42px;
                                color: white;
                                height: 41px;
                                line-height: 42px;
                                border-bottom: 1px solid #fff;
                                img {
                                    position: relative;
                                    top: 4px;
                                    float: left;
                                }
                            }
                        }
                        li:hover {
                            background: #14cdb7;
                        }
                        li:last-child {
                            a {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
            .content-top-phone {
                display: none;
            }
            >.container {
                >h1 {
                    text-align: center;
                    font-size: 46px*0.8;
                    color: #0091be;
                    font-weight: 400; // margin: 10px 0;
                    margin-top: 55px;
                }
                >p {
                    text-align: center;
                    font-size: 28px*0.8;
                    color: #434343;
                    margin: 10px 0;
                }
            }
            #virtuals1 {
                padding: 80px 0;
                >li {
                    >div {
                        text-align: center;
                        height: 170px;
                        line-height: 2.5em;
                        font-size: 16px;
                        >img {
                            width: 72px;
                        }
                    }
                }
            }
            .content-phone {
                background: #f1f1f1;
                height: 580px*0.8;
                box-sizing: border-box;
                .container {
                    height: 580px*0.8;
                    position: relative;
                    background-image: url(../../images/index/hands.png);
                    background-repeat: no-repeat;
                    background-position: right bottom;
                    h2 {
                        font-size: 46px*0.8;
                        color: #0091be;
                        font-weight: 400;
                        margin: 0;
                        padding-top: 80px*0.8;
                        padding-bottom: 30px*0.8;
                    }
                    .paragraph {
                        p {
                            text-align: center;
                            color: #434343;
                            font-size: 22px*0.8;
                            line-height: 2.5em*0.8;
                            margin: 0;
                        }
                        h3 {
                            color: #333;
                            text-align: center;
                            font-size: 28px*0.8;
                            strong {
                                color: #0091be;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .page-ui-index {
        section {
            .content-top {
                .container {
                    position: relative;
                    .sanjiao1,
                    .sanjiao2 {
                        position: absolute;
                        top: -3px;
                        width: 35px;
                        left: 208px;
                    }
                    .sanjiao2 {
                        top: 360px;
                        width: 35px;
                        left: 208px;
                        transform: rotate(90deg);
                    }
                    .topdes {
                        margin: 140px 0 0 60px;
                        p {
                            font-size: 30px;
                            font-family: "Times New Roman";
                            color: #fff;
                        }
                    }
                    .content-list {
                        width: 195px;
                        li.content-list-title {
                            height: 56px;
                            background: #0091bf!important;
                            line-height: 56px;
                            text-align: center;
                        }
                        li {
                            color: white;
                            font-size: 16px;
                            background: #00bea1;
                            height: 42px;
                            line-height: 42px;
                            a {
                                box-sizing: border-box;
                                display: block;
                                padding-left: 42px;
                                color: white;
                                height: 41px;
                                line-height: 42px;
                                border-bottom: 1px solid #fff;
                                img {
                                    position: relative;
                                    top: 4px;
                                    float: left;
                                }
                            }
                        }
                        li:hover {
                            background: #14cdb7;
                        }
                        li:last-child {
                            a {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
            .content-top-phone {
                display: none;
            }
            >.container {
                >h1 {
                    text-align: center;
                    font-size: 46px*0.8;
                    color: #0091be;
                    font-weight: 400; // margin: 10px 0;
                    margin-top: 55px;
                }
                >p {
                    text-align: center;
                    font-size: 28px*0.8;
                    color: #434343;
                    margin: 10px 0;
                }
            }
            #virtuals1 {
                padding: 80px 0;
                >li {
                    >div {
                        text-align: center;
                        height: 170px;
                        line-height: 2.5em;
                        font-size: 16px;
                        >img {
                            width: 72px;
                        }
                    }
                }
            }
            .content-phone {
                background: #f1f1f1;
                height: 580px*0.8;
                box-sizing: border-box;
                .container {
                    height: 580px*0.8;
                    position: relative;
                    background-image: url(../../images/index/hands.png);
                    background-repeat: no-repeat;
                    background-position: right bottom;
                    h2 {
                        font-size: 46px*0.8;
                        color: #0091be;
                        font-weight: 400;
                        margin: 0;
                        padding-top: 80px*0.8;
                        padding-bottom: 30px*0.8;
                    }
                    .paragraph {
                        p {
                            text-align: center;
                            color: #434343;
                            font-size: 22px*0.8;
                            line-height: 2.5em*0.8;
                            margin: 0;
                        }
                        h3 {
                            color: #333;
                            text-align: center;
                            font-size: 28px*0.8;
                            strong {
                                color: #0091be;
                            }
                        }
                    }
                }
            }
        }
    }
}